eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ #유레카 서버의 주소
    registry-fetch-interval-seconds: 10 #유레카 클라이언트 레지스트리를 받아오는 주기
    
management: #actuator의 사용 관련 설정
  endpoint:
    restart:
      enabled: true
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
        
ribbon:
  eureka:
    enabled: true # 유레카를 통해 서버 정보를 가지고 올지 여부
    
server:
  port: 7777
spring:
  application:
    name: api-gateway
    
zuul:
  host:
    connect-timeout-millis: 10000
    socket-timeout-millis: 8000
  routes:
    user-service: # 클라이언트의 서비스 아이디
      path: /user/** 
      strip-prefix: false # false이면 위의 path 뒤에 붙어 오는 값을 그대로 보내며, true이면 path뒤의 uri만 보냄
    customer-service: # 클라이언트의 서비스 아이디
      path: /cs/**
      strip-prefix: false
    status-service: #클라이언트의 서비스 아이디
      path: /status/**
      strip-prefix: false
    platform-connector: 
       path: /platform/**
       strip-prefix: false
  sensitive-headers: '' # 민감한 헤더 정보 입력, 라우팅 시, 제거 설정


user-service:
  ribbon:
    - ConnectTimeout: 13000 # 게이트웨이와 서버간의 연결 및 읽기 시간 설정
    - ReadTimeout: 13000
    
customer-service: 
  ribbon:
    - ConnectTimeout: 13000 # 게이트웨이와 서버간의 연결 및 읽기 시간 설정
    - ReadTimeout: 13000
    
status-service: 
  ribbon:
    - ConnectTimeout: 13000 # 게이트웨이와 서버간의 연결 및 읽기 시간 설정
    - ReadTimeout: 13000
    - listOfServers : status-service:8083, status-service:8084
    
platform-connector:
  ribbon: 
    - ConnectTimeout: 13000 # 게이트웨이와 서버간의 연결 및 읽기 시간 설정
    - ReadTimeout: 13000

#status-service:
#  ribbon:
#    listOfServers: eureka-client-2:8082, eureka-client-2:8084 #기본적으로 라운드로빈으로 적용되는듯 하다. 정책이 필요할듯하다.
#    
