server:
  port: 8761

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
  server:
    waitTimeInMsWhenSyncEmpty: 0
    response-cache-update-interval-ms: 10000 #유레카 서버의 캐시 업데이트 주기
